body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #333;
    text-align: left;
    margin-top: 20px;
}
.button {
    background-color: rgb(17, 56, 154);
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 4px;
}