body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: greenyellow;
    text-align: left;
    margin-top: 20px;
}
.button {
    background-color: greenyellow;
    color: #121212;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 4px;
}
textarea {
    background-color: rgb(46, 46, 46);
    color: rgb(198, 202, 192);
    font-size: 14px;
}
label {
    color: greenyellow;
    margin-bottom: 0px;
    display: block;
}